
<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>탈잉 - 세상의 모든 재능</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="description" content="매력 넘치는 능력자들에게 수업을 들어보세요. 베이킹부터 엑셀까지 다 있다!">
<meta property="og:title" content="탈잉 - 세상의 모든 재능">
<meta property="og:type" content="website" />
<meta property="og:url" content="https://taling.me/">
<meta property="og:image" content="https://front-img.taling.me/Content/Images/ogimage2.png" />
<meta property="og:description" content="매력 넘치는 능력자들에게 수업을 들어보세요. 베이킹부터 엑셀까지 다 있다!">
<meta name="p:domain_verify" content="1dd028b45d9d85306bb74db3d9911bbb"/>

<link rel="canonical" href="https://taling.me">
<link rel="shortcut icon" href="https://front-img.taling.me/Content/app3/images/favicon.ico" />
<link rel="apple-touch-icon" href="https://front-img.taling.me/Content/Images/mobicon.png"/>

<script src="/Scripts/app3/jquery-1.12.4.min.js"></script>
<script src="/Scripts/app3/jquery-ui.js"></script>
<script>
    !function(t,e,n,s,a,c,i,o,p){t.AppsFlyerSdkObject=a,t.AF=t.AF||function(){
        (t.AF.q=t.AF.q||[]).push([Date.now()].concat(Array.prototype.slice.call(arguments)))},
        t.AF.id=t.AF.id||i,t.AF.plugins={},o=e.createElement(n),p=e.getElementsByTagName(n)[0],o.async=1,
        o.src="https://websdk.appsflyer.com?"+(c.length>0?"st="+c.split(",").sort().join(",")+"&":"")+(i.length>0?"af_id="+i:""),
        p.parentNode.insertBefore(o,p)}(window,document,"script",0,"AF","banners",{banners: {key: "f36be0e5-9db5-458b-8432-0e7e11800acf"}});

    AF('banners', 'showBanner');

</script>
<link rel="stylesheet" href="/Content/app3/css/common.css?ver=20090312" media="all">
<link rel="stylesheet" href="/Content/app3/css/notokr.css?ver=20040210" media="all">
<link rel="stylesheet" href="/Content/app3/css/jquery.mCustomScrollbar.css" media="all">
<link type="text/css" rel="stylesheet" href="/Content/app3/css/header_pc.css?ver=200702_2" />
<link type="text/css" rel="stylesheet" href="/Content/app3/css/footer_pc.css?ver=200225" />
<link rel="stylesheet" href="/Content/app3/css/login/login_pc.css?ver=20090313" media="all">

<script src="/Scripts/app3/header.js?ver=2020052817"></script>
<script src="/Scripts/topbar.js"></script>
<script src="/Scripts/app3/jquery.mCustomScrollbar.concat.min.js?ver=20081114"></script>

<!--- pc,mobile 공통 스크립트-->
<script src="/Scripts/prototype.js"></script>
<script src="/Scripts/app3/controll.js"></script>
<!--<script src="https://browser.sentry-cdn.com/5.17.0/bundle.min.js" integrity="sha384-lowBFC6YTkvMIWPORr7+TERnCkZdo5ab00oH5NkFLeQUAmBTLGwJpFjF6djuxJ/5" crossorigin="anonymous">-->
<!--</script>-->
<!--head태그 안에 넣어주세요-->

<meta property="fb:app_id" content="1488135204822133" />

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MTJJTC6');</script>
<!-- End Google Tag Manager -->

<!-- Global site tag (gtag.js) - AdWords: 876466920 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-876466920"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-77451578-1');

  gtag('set', {'user_id': 0});
</script>

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');

fbq('init', '666003960220481');
fbq('track', "PageView");
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=666003960220481&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
<!-- Naver -->
<script type="text/javascript" src="//wcs.naver.net/wcslog.js"> </script>
<script type="text/javascript">
if (!wcs_add) var wcs_add={};
wcs_add["wa"] = "s_568925707495";
if (!_nasa) var _nasa={};
wcs.inflow();
wcs_do(_nasa);
</script>
<!-- Naver -->
<script>
	window.fbAsyncInit = function () {
		FB.init({
			appId: '1488135204822133',
			xfbml: true,
			version: 'v2.8'
		});
	};

	(function (d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) { return; }
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/ko_KR/sdk.js";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));

</script>

<!--모비온 스크립트 마케팅 효율 측정-->
<!-- Enliple Common Tracker v3.6 [공용] start -->
<script type="text/javascript">
    <!--
    function mobRf() {
        var rf = new EN();
        rf.setData("userid", "taling");
        rf.setSSL(true);
        rf.sendRf();
    }
    //-->
</script>
<script src="https://cdn.megadata.co.kr/js/en_script/3.6/enliple_min3.6.js" defer="defer" onload="mobRf()"></script>
<!-- Enliple Common Tracker v3.6 [공용] end -->
<!--모비온 스크립트 마케팅 효율 측정-->
<title>탈잉 - 세상의 모든 재능</title>

<!-- Google Tag Manager (noscript)- pc,mobile 공통 -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MTJJTC6"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<!--<script>-->
<!--    Sentry.init({ dsn: 'https://513eb48c93c14e49bbd91a99bada11dd@o140521.ingest.sentry.io/1552346' });-->
<!--</script>-->
    <!-- top_banner -->
                    <!-- // top_banner -->
	<!-- header -->
	<header id="header" class="hd_sub "  >
		<div class="container hd_wrap">
			<h1 class="logo"><a href="https://taling.me">
                    <img src="https://front-img.taling.me/Content/app3/images/logo/logo.png" alt="탈잉TM">                </a></h1>
			<div class="hd_left">
				<div class="hd_left_cont">
					<ul class="home">
						<li class="act"><a href="https://taling.me">홈<span>HOME</span></a></li>
						<li><a href="/vod/list">브오디<span>VOD</span></a></li>
					</ul>
					<div class="hd_sch_box">
						<form class="flyout-search" action="/Home/Search/" name="search">
							<fieldset>
								<legend class="blind">통합검색</legend>
								<input class="inp" type="text" name="query" id="searchcss" autocomplete="off" value="">
								<button class="sch_btn fr" type="submit"  onclick="searchQuery2();"></button>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
			<nav class="hd_right">
				<ul class="gnb">
											<li><a href="/tutor/Register/Manual">튜터등록</a></li>
															                                                    <li><a href="/Account/LoginPage.php">로그인</a></li>
                                            				</ul>
			</nav>
		</div>
	</header>
<!-- //header -->
<!-- header 검색 스크립트-->
<script>
    function couponPop() {
        //popupWindow = window.open('/coupon/couponList/0', '_blank', 'height=800,width=550,scrollbars=no,status=no');
        let popUrl = "/coupon/couponList/0";
        let targetTitle = "쿠폰함";
        let popWidth = 392;
        let popHeight = 680;

        // 듀얼 모니터 기준 가운데 정렬
        let winWidth = document.body.clientWidth;
        let winHeight = screen.availHeight;
        let winX = window.screenX || window.screenLeft || 0;
        let popLeft = winX + (winWidth - popWidth) / 2;
        let popTop = (winHeight / 2) - (popHeight / 2);

        let options = 'width='+popWidth+', height='+popHeight+', left='+popLeft+', top='+popTop+', menubar=no, toolbar=no, status=no'
        window.open(popUrl, targetTitle, options);
    }
	function searchQuery2()
	{
		query = $('#query').val();
		location.href = "/Home/Search/?query="+query;
	}

	function qPop(Id) {
		if(Id ==0)
		{
			var win = window.open('/My/Qnatutee', 'win', 'width=400, height=690, scrollbars=no, resizable=yes');
		}
		else
		{
			 var win = window.open('/My/Qnatutor', 'win', 'width=400, height=690, scrollbars=no, resizable=yes');
		}
	}
</script>
<!--  //header 검색 스크립트-->


        <link rel="stylesheet" href="/Content/app3/css/index.css?ver=20102917" media="all">
    <link rel="stylesheet" href="/Content/app3/css/swiper.min.css?ver=20020716" media="all">
        <script src="/Scripts/app3/swiper.min.js?ver=20020716"></script>
        <script src="/Scripts/app3/index.js?ver=20802016"></script>


        <!-- index -->
        <!-- promotion-->
        <div class="roll_visual"  style="height:518px;">
            <h2 class="blind">롤링배너</h2>
            <div class="swiper-container container" id="promotionDiv">
            </div>
        </div>


        <div class="container">
            <!-- q_menu -->
            <h2 class="blind">카테고리 메뉴</h2>
            <div class="q_menu">
                <ul>
                                        <li>
                        <a href="javascript:goUrl(0);">
                            <div class="icon popular">
                                <img src="//front-img.taling.me/Content/app3/images/cate/iconPopular@3x.png" alt="">
                            </div>
                            <mark>인기수업</mark>
                        </a>
                    </li>
                                        <li>
                        <a href="javascript:goUrl(3);">
                            <div class="icon popular">
                                <img src="//front-img.taling.me/Content/app3/images/cate/iconBeauty@3x.png" alt="">
                            </div>
                            <mark>뷰티/헬스</mark>
                        </a>
                    </li>
                                        <li>
                        <a href="javascript:goUrl(10);">
                            <div class="icon popular">
                                <img src="//front-img.taling.me/Content/app3/images/cate/iconActivity@3x.png" alt="">
                            </div>
                            <mark>액티비티</mark>
                        </a>
                    </li>
                                        <li>
                        <a href="javascript:goUrl(7);">
                            <div class="icon popular">
                                <img src="//front-img.taling.me/Content/app3/images/cate/iconLife@3x.png" alt="">
                            </div>
                            <mark>라이프</mark>
                        </a>
                    </li>
                                        <li>
                        <a href="javascript:goUrl(22);">
                            <div class="icon popular">
                                <img src="//front-img.taling.me/Content/app3/images/cate/iconHobby@3x.png" alt="">
                            </div>
                            <mark>취미/공예</mark>
                        </a>
                    </li>
                                        <li>
                        <a href="javascript:goUrl(11);">
                            <div class="icon popular">
                                <img src="//front-img.taling.me/Content/app3/images/cate/iconMoney@3x.png" alt="">
                            </div>
                            <mark>머니</mark>
                        </a>
                    </li>
                                        <li>
                        <a href="javascript:goUrl(2);">
                            <div class="icon popular">
                                <img src="//front-img.taling.me/Content/app3/images/cate/iconCareer@3x.png" alt="">
                            </div>
                            <mark>커리어</mark>
                        </a>
                    </li>
                                        <li>
                        <a href="javascript:goUrl(4);">
                            <div class="icon popular">
                                <img src="//front-img.taling.me/Content/app3/images/cate/iconDesign@3x.png" alt="">
                            </div>
                            <mark>디자인/영상</mark>
                        </a>
                    </li>
                                        <li>
                        <a href="javascript:goUrl(5);">
                            <div class="icon popular">
                                <img src="//front-img.taling.me/Content/app3/images/cate/iconLanguage@3x.png" alt="">
                            </div>
                            <mark>외국어</mark>
                        </a>
                    </li>
                                        <li>
                        <div class="icon all q_btn">
                            <img src="//front-img.taling.me/Content/app3/images/cate/iconAll@3x.png" alt="">
                        </div>
                        <mark>전체카테고리</mark>
                    </li>
                </ul>
            </div>
            <div class="all_category">
                <h2 class="blind">전체 서비스</h2>
                <div class="dt">
                    <div class="dtc">
                        <div class="container">
                            <button class="close_btn"><img src="https://front-img.taling.me/Content/app3/images/btn_close.png" alt="닫기"></button>
                            <div id="menuList"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //q_menu -->
            <!-- 이번주 시작 -->
            <div id="talentLayout1" >
                <h2 class='section_title'>이번주 시작</h2>
                <div class="item_lst mb100">
                    <ul style="height:354px;">
                    </ul>
                </div>
            </div>
            <!-- //이번주 시작 -->
        </div>
        <!-- in_vod -->
        <div class="in_vod">
            <div class="container">
                <div class="swiper-container">
                    <h2 class="section_title"><a href="/vod/list">탈잉 VOD</a></h2>
                    <div class="vod_box por swiper-wrapper" id="vodDiv">
                    </div>
                    <div class="swiper-button-next btn_arrow"></div>
                    <div class="swiper-button-prev btn_arrow"></div>
                </div>
            </div>
        </div>
        <!-- //in_vod -->
        <div class="container pb50">
            <!-- 높은 리뷰 평점 -->
            <div class="swiper-area" id="talentLayout5" style="height:369px;">
                <h2 class="section_title">높은 리뷰 평점</h2>
                <div class="in_tutor swiper-container">
                    <div class="swiper-btn">
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
            </div>
            <!-- //높은 리뷰 평점 -->
            <!-- 10,000원이하 고퀄 수업 -->
            <div id="talentLayout3">
                <h2 class="section_title">만원 이하 클래스</h2>
                <div class="item_lst mb100">
                    <ul style="height:354px;">
                    </ul>
                </div>
            </div>
            <!-- //15,000원이하 고퀄 수업 -->
            <!-- 500명 이상 선택한 수업 -->
            <div id="talentLayout4">
                <h2 class="setion_title">500명 이상 수강완료</h2>
                <div class="item_lst mb100">
                    <ul style="height:354px;">
                    </ul>
                </div>
            </div>
            <!-- //500명 이상 선택한 수업 -->
            <!-- in_banner -->
            <div class="in_banner mb100">
                <h2 class="blind">탈잉비즈</h2>
                <a href="/B2B/main"><img class="imgz" src="https://front-img.taling.me/Content/app3/images/b2b_banner/banner@2x.png" alt="다양한 컨텐츠로 기업 교육 및 브랜드 제휴를 시작해보세요! 더 알아보기"></a>
            </div>
            <!-- //in_banner -->
            <!-- 하루만에 끝낸다 -->
            <div id="talentLayout6">
                <h2 class="section_title">오늘의 인기 원데이</h2>
                <div class="item_lst mb100">
                    <ul style="height:354px;">
                    </ul>
                </div>
            </div>
            <!-- //하루만에 끝낸다 -->
            <!-- 지금 할인 수업들 -->
            <div id="talentLayout7">
                <h2 class="section_title">지금 ~50% 할인 중</h2>
                <div class="item_lst mb100">
                    <ul style="height:354px;">
                    </ul>
                </div>
            </div>
            <!-- //지금 할인 수업들-->
            <!-- 실시간 리뷰 -->
            <div id="talentLayout8" class="review_slide">
                <h2 class='section_title'><a href=''>실시간 리뷰</a></h2>
                <div class='in_review mb100'>
                    <ul style="height:354px;">
                    </ul>
                </div>
            </div>
            <!-- //실시간 리뷰 -->
        </div>
        <style type = "text/css">
            <!-- 로딩바스타일 -->
            #Progress_Loading
            {
                position: absolute;
                left: 50%;
                top: 50%;
                background: #ffffff;
            }
        </style>
        <div id = "Progress_Loading"><!-- 로딩바 -->
            <img src="https://front-img.taling.me/Content/app3/images/progress_loding.gif"/>
        </div>
        <!-- //index -->
        </div>
        <script>
        jQuery.cookie = function (key, value, options) {

            // key and at least value given, set cookie...
            if (arguments.length > 1 && String(value) !== "[object Object]") {
                options = jQuery.extend({}, options);

                if (value === null || value === undefined) {
                    options.expires = -1;
                }

                if (typeof options.expires === 'number') {
                    var days = options.expires, t = options.expires = new Date();
                    t.setDate(t.getDate() + days);
                }

                value = String(value);

                return (document.cookie = [
                    encodeURIComponent(key), '=',
                    options.raw ? value : encodeURIComponent(value),
                    options.expires ? '; expires=' + options.expires.toUTCString() : '', // use expires attribute, max-age is not supported by IE
                    options.path ? '; path=' + options.path : '',
                    options.domain ? '; domain=' + options.domain : '',
                    options.secure ? '; secure' : ''
                ].join(''));
            }

            // key and possibly options given, get cookie...
            options = value || {};
            var result, decode = options.raw ? function (s) { return s; } : decodeURIComponent;
            return (result = new RegExp('(?:^|; )' + encodeURIComponent(key) + '=([^;]*)').exec(document.cookie)) ? decode(result[1]) : null;
        };
    </script>
    <!-- footer -->
<footer>
	<div class="container">
		<h2 class="ti">탈잉 서비스 소개 및 약관</h2>
		<!-- f_top -->
		<div class="f_top mb30">
			<ul class="f_nav flul">
				<li class="depth1">
					<p class="tit">COMPANY</p>
					<ul class="depth2">
						<li><a href="http://blog.naver.com/taling_me" target="_blank">블로그</a></li>
						<li><a href="http://news.joins.com/article/20030058" target="_blank">언론보도</a></li>
					</ul>
				</li>
				<li class="depth1">
					<p class="tit">POLICIES</p>
					<ul class="depth2">
						<li><a href="/Support/Rule">이용약관</a></li>
						<li><a href="/Support/Privacy"><b style="text-decoration:underline">개인정보처리방침</b></a></li>
					</ul>
				</li>
				<li class="depth1">
					<p class="tit">SUPPORT</p>
					<ul class="depth2">
						<li><a href="/Support/FAQ">FAQ</a></li>
						<li><a href="/Support/Center/">탈잉센터</a></li>
					</ul>
				</li>
				<li class="depth1 taling_biz">
					<p class="tit">B2B</p>
					<ul class="depth2">
						<li><a href="/B2B/main">기업교육</a></li>
                        <li><a href="/B2B/brand">브랜드제휴</a></li>
					</ul>
				</li>
				<li class="depth1 taling_cs">
					<p class="tit">TALING CENTER</p>
					<ul class="depth2">
						<li class="cs"  id="custom-button-trigger" style="color:#ff005a;cursor:pointer;">탈잉에게 문의하기</li>
						<li>
							<p class="mb5">운영시간</p>
							<p class="c6">평일 10:00 ~ 18:00  점심 13:00 ~14:00</p>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<div id="custom-button-1" ></div>
		<!-- //f_top -->
		<!-- //f_bottom  -->
		<div class="f_bottom cb">
			<div class="f_info fl">
				<p class="mb5">상호 : (주)탈잉 | 주소 : 서울특별시 강남구 역삼동 621 -19 | 사업자등록번호 : 767-88-00630 | 대표자명 : 김윤환</p>
				<p class="mb5">통신판매업 신고번호 : 제 2017-서울강남-02964</p>
				<p>Copyright ⓒ2020 taling inc, ltd. All rights reserved</p>
			</div>
			<ul class="f_sns fr">
				<li><a href="https://www.facebook.com/taling.me" target="_blank"><img src="https://front-img.taling.me/Content/app3/images/sns01.png" alt="facebook"></a></li>
				<li><a href="https://www.instagram.com/taling_class/" target="_blank"><img src="https://front-img.taling.me/Content/app3/images/sns02.png" alt="instagram"></a></li>
				<li><a href="https://www.youtube.com/channel/UCuFmmpVLaNNFoy-cHqELl_A" target="_blank"><img src="https://front-img.taling.me/Content/app3/images/sns03.png" alt="youtube"></a></li>
				<li><a href="https://post.naver.com/taling_me" target="_blank"><img src="https://front-img.taling.me/Content/app3/images/sns04.png" alt="naver"></a></li>
				<li><a href="https://1boon.kakao.com/taling" target="_blank"><img src="https://front-img.taling.me/Content/app3/images/sns05.png" alt="daum"></a></li>
			</ul>
		</div>
		<!-- //f_bottom -->
	</div>
</footer>

<!-- Channel Plugin Scripts -->
<script>
var scrollTop=0;
$('#custom-button-trigger, .cs').click(function(){
	scrollTop= $(window).scrollTop();
	$('#custom-button-1').click();
});
 (function() {
   var w = window;
   if (w.ChannelIO) {
     return (window.console.error || window.console.log || function(){})('ChannelIO script included twice.');
   }
   var d = window.document;
   var ch = function() {
     ch.c(arguments);
   };
   ch.q = [];
   ch.c = function(args) {
     ch.q.push(args);
   };
   w.ChannelIO = ch;
   function l() {
     if (w.ChannelIOInitialized) {
       return;
     }
     w.ChannelIOInitialized = true;
     var s = document.createElement('script');
     s.type = 'text/javascript';
     s.async = true;
     s.src = 'https://cdn.channel.io/plugin/ch-plugin-web.js';
     s.charset = 'UTF-8';
     var x = document.getElementsByTagName('script')[0];
     x.parentNode.insertBefore(s, x);
   }
   if (document.readyState === 'complete') {
     l();
   } else if (window.attachEvent) {
     window.attachEvent('onload', l);
   } else {
     window.addEventListener('DOMContentLoaded', l, false);
     window.addEventListener('load', l, false);
   }
 })();
  ChannelIO('boot', {
   "pluginKey": "8fc98895-06a5-402d-8740-1cb9261ebc91",
	"customLauncherSelector": "#custom-button-1",
    "hideDefaultLauncher": true,
	   "userId": "", //fill with user id
	   "profile": {
		 "name": "", //fill with user name
		 "mobileNumber": "", //fill with user phone number
		 "CUSTOM_VALUE_1": "VALUE_1", //any other custom meta data
		 "CUSTOM_VALUE_2": "VALUE_2"
	   }
 });
  ChannelIO('onHide', function() {
	$(window).scrollTop(scrollTop);
});
</script>
<!-- End Channel Plugin -->

<!-- //footer -->    </body>
</html>